#search-history-list:hover{
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    padding: 8px 16px;

}
.row {
    --bs-gutter-x: 0rem; 
}